/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ====================================================================
  Project:  Portfolio Website 
  Description:  For documention of personal web development projects. 
  ===================================================================== */

/* -------------------- Global Styles -------------------- */

/*
Google fonts used on this website: 
Headings: 'Lexend Tera', sans-serif
Headings, bold 700: 'Lexend Tera', sans-serif
Paragraph text: 'Lekton', sans-serif
Paragraph text, bold 700: 'Lekton', sans-serif
*/

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lekton', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
  color: #313131;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-family: 'Lekton', sans-serif;
  text-decoration: none;
}

h1 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 2.25rem; 
  font-weight: 700;
}

h2 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1.25rem; 
  font-weight: 400;
}

h3 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1.5rem; 
  text-align: center;
}

h4 {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 1.2rem; 
  font-weight: 400;
  text-align: center;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}


/* Layout - Structural Styles */

header,
#introduction,
#projects,
#separator,
#skills,
#about,
#contact,
footer {
  display: flex;
  justify-content: center;
  /*align-items: center;*/ /*Is this necessary?*/
  flex-flow: row wrap;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}

h1, 
h2, 
h3, 
h4 {
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
}


/* Layout - Special Styles */
/* NOTE: Clean out the Special Styles that are no longer used! */

.project-line {
  width: 100%;
  height: 1px;
  margin: 20px 0px 20px 0px;
  background: #313131;
  border: none;
}

/* Section header styles */

.section-title-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 40px;
}

.section-title {
  font-size: 2rem; 
}

.circle-section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.circle-section {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #E9B14C;
} 

.section-subtitle {
  width: 100%;
  text-align: center;
}

/*
.separator-width {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.separator-line {
  width: 90%;
  height: 1px;
  background: #000000;
  border: none;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px; 
  background: #E9B14C;
}
*/

/* -------------------- Base Header-Footer Styles -------------------- */

/* HEADER */

header {
  /*padding: 30px 0px 60px 0px;*/ 
  padding: 50px 0px 20px 0px; 
  /*background-color: #CAC691;*/
  background-color: #ffffff;
}

.header-name-wrapper {
  display: flex;
  /*justify-content: center;*/
  justify-content: flex-start;
  align-items: center;
  /*flex-flow: row wrap;*/
  flex-flow: nowrap;
  width: 60%;
}

.header-firstname {
  /*width: 100%;*/
  /*font-family: 'Lexend Tera', sans-serif;*/
  font-family: 'Lekton', sans-serif;
  /*font-size: 0.60rem;*/
  font-size: 0.8rem;
  /*letter-spacing: 0.2rem;*/
  letter-spacing: 0.3rem;
  /*text-transform: uppercase;*/
  text-align: center;
  /*color: #152A3E;*/
  color: #313131;
}

.circle-header {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  /*margin: 10px 13px 10px 10px;*/
  margin: 12px 15px 13px 10px;
  background: #E9B14C;
}

.header-lastname {
  /*width: 100%;*/
  /*font-family: 'Lexend Tera', sans-serif;*/
  font-family: 'Lekton', sans-serif;
  /*font-size: 0.60rem;*/
  font-size: 0.8rem;
  /*letter-spacing: 0.2rem;*/
  letter-spacing: 0.3rem;
  /*text-transform: uppercase;*/
  text-align: center;
  /*color: #152A3E;*/
  color: #313131;
}

/* Mobile navigation */

nav {
  display: none;
}

#mobile-nav-icon {
  margin: auto 0;
  /*display: block;*/
  display: flex;
  justify-content: flex-end;
  text-align: center;
  width: 40%;
  cursor: pointer; 
}

.mobile-bars {
  width: 25px; /*Convert to rem??*/
  height: 3px;
  margin: 6px 0;
  background-color: black;
  transition: 0.6s;  
}

/* JS classlist toggle styling for open menu and X icon: */

.open .mobile-bar-1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .mobile-bar-2 {
  opacity: 0;
}

.open .mobile-bar-3 {
  transform: rotate(45deg) translate(-6px, -8px)
}

.mobile-nav-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mobile-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 100px;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*justify-content: flex-start;*/
  padding-top: 30px;
  background-color: #53565B;
}

.hide-mobile-nav-menu {
  display: none;
  pointer-events: none;
}

.mobile-nav-link {
  margin: 30px 60px;
}

.mobile-nav-link a {
  font-family: 'Lexend Tera', sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 5px; 
  background-image: linear-gradient(#e0218a, #e0218a);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.mobile-nav-link a:hover {
  background-size: 100% 0.1em;
}

/* FOOTER */

footer {
  padding: 40px 0px 60px 0px;
  /*background-color: #152A3E;*/
  background-color:  #e0218a;
}

.scroll-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0.65rem;
  right: 0.65rem; 
  z-index: 100;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  /*background: #E7E5CB;*/
  background: #5a4331;
  border: none;
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  cursor: pointer;
  pointer-events: auto;
}

.scroll-top-button:hover {
  transform: scale(1);
}

.hide-scroll-top-button {
  display: none;
  pointer-events: none;
}

.scroll-top-button i {
  /*color: #152A3E;*/
  color: #e3e2df; 
  font-size: 1rem;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

footer p {
  /*color: #EEEFDA;*/
  color: #ffffff;
}

.circle-footer {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 10px 10px 10px 10px;
  background: #E9B14C;
}

.footer-built-with {
  margin-top: 10px;
  font-size: 0.6rem;
}

/* -------------------- Mobile Styles - Homepage -------------------- */

/* INTRODUCTION */

#introduction {
  align-content: flex-start;
  /*height: 100vh;*/
  /*padding: 0px 0px 60px 0px;*/
  padding: 60px 0px 60px 0px;
  /*background-color: #CAC691;*/
}

#introduction .content-wrapper {
  align-content: center;
  /*align-content: flex-start;*/
  /*height: 38vh;*/
  height: 45vh;
}

.introduction-title {
  width: 100%;
  color: #152A3E;
  font-family: 'Lekton', sans-serif;
}

.introduction-text {
  width: 100%;
  margin-top: 30px;
  color: #152A3E;
  /*ANIMATION CODE:*/
  /*display: none;  NOTE: this affects document flow: removes element from flow and moves other content up! Fix!! */
  opacity: 0;
}

/*ANIMATION CODE:*/

/* Animated reveal of introduction title and text: */

.show-introduction-title {
  display: block;
  width: 100%;
  color: #152A3E;
} 

.show-introduction-text {
  display: block;
  width: 100%;
  margin-top: 30px;
  color: #152A3E;
  animation: introTextFadeIn ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes introTextFadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.text-style {
  padding-bottom: 5px;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  background-size: 100% 0.7em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

.change-text-style {
  animation: introTextStyle ease-in-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes introTextStyle {
  0% {
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-size: 0% 0.0em;     
  }
  /*50% {
    background-size: 50% 0.4em;
    /*background-position-y: 100%;
    background-position-x: 50%;
  }*/
  100% {
    background-image: linear-gradient(#F49729, #F49729);
    background-size: 100% 0.7em;
    /*background-position-y: 100%;
    background-position-x: 50%;*/
  }
}

/* Animated scroll-down pointer: */

.scroll-down-pointer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  /*justify-content: flex-end;*/
  /*width: 100%;*/
  width: 80%;
  padding-top: 80px;
  /*margin-left: 470px;*/
  /*border: 1px solid red;*/
}

.scroll-down-text {
  /*width: 100%;*/
  /*padding-left: 30rem;*/
  writing-mode: vertical-lr;
  /*text-orientation: upright;*/
  text-transform: uppercase;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  /*text-align: left;*/
  margin: 50px 5px 0px 13px;
  /*border: 1px solid green;*/
}

.cirle-pointer-wrapper {
  /*width: 100%;*/
  margin: 0px 5px 5px 2px;
  /*padding-left: 29.5rem;*/
  /*border: 1px solid blue;*/
}

.circle-pointer {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 10px 15px 13px 10px;
  background: #E9B14C;
  animation: drop-dot 2s ease;
  animation-iteration-count: infinite;
  animation-delay: 6s;
  transform-origin: top;
}

/*
scaleY: increases/decreases element height.
*/

@keyframes drop-dot {
  0% {transform: scale(1, 1) translateY(0);}
  10% {transform: scale(1, 1) translateY(0);}
  30% {transform: scale(1.5, 1) translateY(25px);}
  50% {transform: scale(1, 1) translateY(0);}
  80% {transform: scale(1, 1) translateY(0);}
  100% {transform: scale(1, 1) translateY(0);}
}


/* PROJECTS */

#projects {
  padding: 60px 0px 60px 0px;
  background-color: #e3e2df;  
}

/*
.projects-title {
  width: 100%;
  margin-bottom: 20px;
}
*/

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  flex-flow: row wrap;
  width: 100%;
  margin: 0px 0px 40px 0px;
}

.project-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

/* New Layout Test: */
.project-background {
  padding: 40px 40px;
  background-color: #5a4331;
  border: 1px solid #e6e6e6;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px;
}

.project-background:hover {
  transform: rotateZ(-3deg);
  animation: project-tilt;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

@keyframes project-tilt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}

.project-header-test {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.project-header-test h4 {
  height: 50px;
  margin: 0px 0px 20px 0px; 
  text-align: left;
  font-size: 1.6rem;
  font-weight: 700;
}

.project-header-orange {
  color: #f49729;     
}

.project-header-green {
  color: #8d8752;    
}

.project-header-pink {
  color: #e0218a;    
}

.project-description-test {
  width: 100%;
  height: 100px;
  /*padding: 10px;*/
  margin: 20px 0px 0px 0px;
  color: #e3e2df; 
}

.project-skills-test p {
  /*padding-top: 10px;*/
  font-size: 0.75rem;
  color: #e3e2df; 
}

.project-view-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 30px 0px 10px 0px;
}

/* Project button styling is also applied to the 
Modal Window 'close' button in Javascript:*/
.project-button-style {
  padding: 6px 8px 6px 8px;
  font-family: 'Lekton', sans-serif;
  font-size: 1rem;
  background-color: #e3e2df;
  /*border: 0.5px solid #53565b;*/
  border: none;
  border-radius: 3px;
  transform: scale(0.9);
  cursor: pointer;
  pointer-events: auto;
}

.project-button-style:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out transform;
  background-color: #cccbc8;
}


/* PROJECTS - MODAL WINDOWS */
/* - styling applied in JavaScript: */

.backdrop-blur {
  position: fixed; /*Keeps backdrop in place*/
  z-index: 1; /*Situates backdrop on top*/
  left: 0;
  right: 0;
  width: 100%; /*Change to viewport width: 100vw? See website mobile nav code*/
  height: 100%; /*Change to viewport height: 100vh? See website mobile nav code*/
  overflow: auto; /*Enables scroll*/
  background-color: rgba(83, 86, 91, 0.9); /*rgba sets opacity without inheritance*/
}

.modal-window {
  /* understand how to do this using flexbox. 
  Q: do I need a modal-container in html to wrap and position the modalWindow?*/
  position: fixed; /*Positions modal relative to viewport.*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* UNDERSTAND what this property does! */ 
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  z-index: 2;
  /*width: 400px;*/
  width: 75%;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px;
  /*background-color: rgba(241, 148, 148, 1);*/ /*rgba sets opacity without inheritance*/
  background-color: rgba(227, 226, 223, 1);
  /*background-color: rgba(141, 135, 82, 1);*/
  background-color: rgba(255, 255, 255, 1);
  /*border: 1px solid #e6e6e6;*/
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px;
  border-radius: 15px;
}

.modal-image {
  margin: 10px;
  width: 100%;
  /*border: 1px solid red;*/
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px;
}

.modal-content {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  width: 100%;
  margin: 10px;
  /*border: 1px solid green;*/
}

.modal-title {
  padding-left: 5px; 
  font-size: 1.5rem;
}

.modal-description {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  margin: 15px 0px 10px 0px;
  padding-left: 5px; 
  padding-right: 2px;
  padding-top: 5px;
}

.modal-description-text {
  /* DELETE from both css and js if not needed. */
}

.modal-links {
  /*margin: 5px;*/
  margin: 10px 5px 5px 5px;
}

.modalLink-1 {
  /* DELETE from both css and js if not needed. */
}

.modalLink-2 { 
  /* DELETE from both css and js if not needed. */
}

.modalLink-1, .modalLink-2 {
  font-size: 0.9rem;
  color: #152A3E;
  padding-bottom: 3px; 
  /*background-image: linear-gradient(#e0218a, #e0218a);*/
  background-image: linear-gradient(#f42c38, #f42c38);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}
    
/*.modalLink-1 a:hover, .modalLink-2 a:hover {
    background-size: 100% 0.1em;
}*/

.modalLink-1:hover, .modalLink-2:hover {
  background-size: 100% 0.1em;
}

.modalNavigation {
  display: flex;
  /*justify-content: center;*/
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  /*margin: 0;*/
  margin: 10px 0px 10px 0px;
}

.arrowButtons {
  display: flex;
  /*justify-content: flex-start;*/
  justify-content: flex-end;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
  margin: 0;
}

.arrowPrevious {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 20%;
}

.arrowNext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 20%;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin: 0px 10px 0px 10px;
  /*padding: 0px 5px 0px 5px;*/ 
  /*background: #E9B14C;*/
  background: #5a4331;
  /*background: #8d8752;*/
}

/*
Create arrows with css:
https://www.tutorialspoint.com/css/css_arrows.htm#:~:text=Arrows%20can%20be%20created%20using,direction%20and%20amount%20of%20rotation.
*/

.arrow {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  /*border: solid black;*/
  border: solid #e3e2df; 
  border-width: 0 2px 2px 0;
  /*display: inline-block;*/
  padding: 4px; 
  background-color: transparent;
}    

.previousModal {
  /*border-left: 3px solid black;*/
  transform: rotate(135deg);
  cursor: pointer;
  pointer-events: auto;
  /*padding-right: 5px;*/
  /*padding-bottom: 5px;*/
  margin-left: 3px;
}

.nextModal {
  /*border-right: 3px solid black;*/
  transform: rotate(-45deg);
  cursor: pointer;
  pointer-events: auto;
  margin-right: 3px;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  width: 30%;
  margin: 0;
}

/* End Test*/



/* OLD PROJECT STYLING - DELETE IF NOT USED: 
.project-item figure {
  margin: 20px 0px 20px 0px;
  border: 1px solid #e6e6e6;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px;
}

.project-image {
  width: 100%;
}

.project-header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.project-header h4 {
  margin: 0px 0px 20px 0px; 
}

.project-description {
  width: 100%;
  margin: 20px 0px 0px 0px; 
}

.project-skills {
  margin: 20px 0px 0px 0px; 
}

.project-skills span {
  font-weight: 700;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
  margin: 30px 0px 60px 0px; 
}

.project-links a {
  width: 30%;
  padding: 0.25rem 0.5rem;
  text-align: center;
  color: #EEEFDA;
  background-color: #152A3E;
  border-color: #ffffff;
  box-shadow: 0 0 0 0 #ffffff inset;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

.project-links a:hover {
  font-weight: 700;
  color: #152A3E;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 200px 0 0 0 #ffffff inset;
}
*/

/* SKILLS */

#skills {
  padding: 60px 0px 60px 0px; 
}

/* DELETE: 
.skills-title-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 40px;
}

.skills-title {
  font-size: 2rem; 
}

.circle-section-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.circle-section {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #E9B14C;
} 

.skills-subtitle {
  width: 100%;
  text-align: center;
}
*/

.tab-panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 30px 0px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Horizontal scroll: */
  overflow-x: auto; /* auto means it only scrolls if needed */
  overflow-y: hidden;
  white-space: nowrap;
  touch-action: pan-x;  
}

.tabs-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.tab {
  padding: 20px 0px;
}

/* Simple link styling: 
.tab a {
  padding: 27px 11px;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 0.7rem;
  color: #152A3E;
}

.tab a:hover {
  padding: 27px 11px;
  font-weight: 700;
}
*/

.tab a {
  padding: 27px 11px;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 0.7rem;
  color: #152A3E;
  background-image: linear-gradient(#f49729, #f49729);
  /*background-size: 0% 0.1em;*/
  background-size: 0% 0.25em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}  

.tab a:hover {
  /*background-size: 100% 0.1em;*/
  background-size: 100% 0.25em;
}

.panels-list {
  width: 100%;
  border-top: 1px solid #f49729;
}

.panels {
  padding: 30px 11px;
}

.panels h3 {
  margin-bottom: 30px;
  text-align: left;
}

/* START JavaScript: Tab highlight styling: */
.highlight-tab {
  /*font-weight: 700;*/
  background: #f49729;
}
/* END JavaScript */

/* START JavaScript: Hide/show panel styling: */
.hide-panels {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/* END JavaScript */

/* ABOUT */

#about {
  padding: 60px 0px 60px 0px;
  background-color: #CAC691;
}

#about figure {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 90px 0px;
}

#about i {
  font-size: 8rem;
  color: #152A3E;
}

.about-info {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}

.about-title {
  width: 100%;
  margin: 0px 0px 40px 0px;
  text-align: left;
  color: #152A3E;
}

.about-info h4 {
  margin: 0px 0px 40px 0px;
  text-align: left;
  color: #152A3E;
}

.about-description {
  width: 100%;
}

.about-description p {
  margin: 0px 0px 20px 0px;
  color: #152A3E;
}


/* CONNECT */

#contact {
  padding: 60px 0px 60px 0px;
  /*background-color: #152A3E;*/
}

.connect-title {
  width: 100%;
  margin: 0px 0px 60px 0px;
  color: #EEEFDA;
}

.connect-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

.connect-wrapper h4 {
  margin: 0px 0px 30px 0px;
  color: #EEEFDA;
}

/*NEW - font color*/
.connect-font-color {
  /*color: #EEEFDA;*/
}

.connect-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0px 0px 60px 0px;
}

.connect-icons {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.connect-icons li {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-icons a {
  transform: scale(0.9);
}

.connect-icons a:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out transform;
}

.connect-icons i {
  /*color: #EEEFDA;*/
  color: #313131;
  font-size: 1.5rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* -------------------- Tablet Styles - Homepage -------------------- */

  /* Global and Structural Styles - Tablet */

  .content-wrapper {
    max-width: 640px;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  /* Layout - Special Styles - Tablet */

  /* Section header styles */

  .section-title-wrapper {
    margin-bottom: 50px;
  }

  .section-title {
    font-size: 2.5rem;
  }
  
  .circle-section-wrapper {
    margin: 20px 0px 20px 0px;
  }

  .circle-section {
    width: 10px;
    height: 10px;
    border-radius: 10px;
  } 

  .section-subtitle {
    font-size: 1.2rem;
  }
  
  /* HEADER - Tablet */
  
  header {
    /*padding: 60px 0px 80px 0px;*/
    padding: 60px 0px 30px 0px; 
  }
  
  .header-name-wrapper {
    justify-content: center;
    flex-flow: nowrap;
    width: 30%;
    padding-top: 5px;
  }
  
  .header-firstname {
    width: 25%;
    font-size: 0.70rem;
    text-align: end;
  }

  .circle-header {
    margin: 10px 15px 13px 10px;
  }

  .header-lastname {
    width: 60%;
    font-size: 0.70rem;
    text-align: start;
  }

  #mobile-nav-icon, .mobile-nav-wrapper {
    display: none;
  }

  nav {
    /*display: block;*/
    display: flex;
    /*justify-content: space-around;*/
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    width: 70%;
  }

  .nav-wrapper {
    display: flex;
    /*justify-content: space-around;*/
    justify-content: space-between;
    /*width: 100%;*/
    width: 85%;
  }

  /*
  .nav-link a {
    font-size: 0.65rem;
    font-family: 'Lexend Tera', sans-serif;
    text-transform: uppercase;
    color: #152A3E;
  }
  */
  .nav-link a {
    font-size: 0.65rem;
    font-family: 'Lexend Tera', sans-serif;
    text-transform: uppercase;
    color: #152A3E;
    padding-bottom: 5px; 
    background-image: linear-gradient(#e0218a, #e0218a);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
  }
    
  a:hover {
    background-size: 100% 0.1em;
  }







  /* ORIGINAL NAV CODE: */

  /*
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 50%;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .nav-link {
    margin-bottom: 20px;
  }

  .nav-link a {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #152A3E;
    /*Padding and background-color properties prevent text from moving when hovering:*/
    /*padding: 10px 10px;
    background-color: transparent;
  }*/

  /*
  .nav-link a:hover {
    padding: 10px 10px;
    background-color: #E7E5CB;
    border-radius: 30px;
    color: #152A3E;
  }
  */






  /* FOOTER - Tablet */

  footer {
    padding: 0px 0px 80px 0px;
  }

  .scroll-top-button {
    bottom: 1.5rem;
    right: 1.5rem; 
  }


  /* INTRODUCTION - Tablet */

  #introduction {
    padding: 80px 0px 80px 0px;
  }

  .introduction-title {
    font-size: 2.5rem;
  }

  .introduction-text {
    margin-top: 60px;
    font-size: 1.5rem;  
  }

  /* Animated scroll-down pointer: */

  .scroll-down-pointer {
    /*margin-left: 650px;*/
    max-width: 640px;
    /*border: 1px solid red;*/
  }

  .scroll-down-text {
    /*padding-left: 39rem;*/
    font-size: 0.45rem;
  }

  .cirle-pointer-wrapper {
    /*padding-left: 38.5rem;*/
  }

  /* PROJECTS - Tablet */

  #projects {
    padding: 80px 0px 0px 0px;
  }

  .projects-title {
    margin: 0px 0px 70px 0px;
  }

  .project-wrapper {
    justify-content: space-around;
  }

  .project-item {
    /*width: 45%;*/
    /*margin-bottom: 20px;*/
  }

  .project-header {
    width: 100%;
  }

  .project-skills {
    width: 85%;
  }
  
  .project-links {
    margin: 30px 0px 30px 0px; 
  }

  .project-links a {
    width: 45%;
    margin-top: 0.4rem;
  }


  /* SKILLS - Tablet */

  #skills {
    padding: 80px 0px 80px 0px; 
  }

  .tab-panel-wrapper {
    margin: 50px 0px;
  }

  .tab a {
    font-size: 0.75rem;
  }

  .panels {
    padding: 40px 11px;
  }
  
  .panels h3 {
    margin-bottom: 40px;
  }

  /* ABOUT - Tablet */

  #about figure {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0px 100px 0px;
  }
  
  #about i {
    font-size: 9rem;
  }

  .about-title {
    margin: 0px 0px 60px 0px;
  }

  .about-info h4 {
    margin: 0px 0px 60px 0px;
  }


  /* CONNECT - Tablet */

  .connect-title {
    margin: 0px 0px 60px 0px;
  }

  .connect-wrapper h4 {
    margin: 0px 0px 35px 0px;
  }

  .connect-icons i {
    font-size: 2rem;
  }
}


@media only screen and (min-width: 1200px) {

/* -------------------- Desktop Styles - Homepage -------------------- */

  /* Global and Structural Styles - Desktop */

  .content-wrapper {
    max-width: 1200px;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.2rem;
  }

  /* Layout - Special Styles - Desktop */

  /* Section header styles */


  .section-title-wrapper {
    margin-bottom: 70px;
  }

  .section-title {
    font-size: 3.5rem;
  }

  .circle-section-wrapper {
    margin: 30px 0px 30px 0px;
  }

  .circle-section {
    width: 14px;
    height: 14px;
    border-radius: 14px;
  } 

  .section-subtitle {
    font-size: 1.6rem;
  }

  /* HEADER - Desktop */

  header {
    width: 100%;
    /*padding: 80px 0px 80px 0px;*/
    padding: 80px 0px 30px 0px;
  }

  header .content-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  /*
  .header-name {
    width: 50%;
    padding: 20px 0px 20px 0px;
    font-size: 0.9rem;
    text-align: left;
  }
  */

  .header-name-wrapper {
    display: flex;
    /*justify-content: center;*/
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 30%;
  }
  
  .header-firstname {
    width: 15%;
    /*font-family: 'Lexend Tera', sans-serif;*/
    /*font-size: 0.60rem;*/
    font-size: 0.9rem;
    /*letter-spacing: 0.2rem;*/
    letter-spacing: 0.3rem;
    /*text-transform: uppercase;*/
    text-align: center;
    /*color: #152A3E;*/
    color: #313131;
  }
  
  .circle-header {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    /*margin: 10px 13px 10px 10px;*/
    margin: 10px 9px 13px 12px;
    background: #E9B14C;
  }
  
  .header-lastname {
    width: 40%;
    /*font-family: 'Lexend Tera', sans-serif;*/
    /*font-size: 0.60rem;*/
    font-size: 0.9rem;
    /*letter-spacing: 0.2rem;*/
    letter-spacing: 0.3rem;
    /*text-transform: uppercase;*/
    text-align: center;
    /*color: #152A3E;*/
    color: #313131;
  }





  .header-divider {
    display: none;
  }

  nav {
    justify-content: flex-end;
    width: 70%;
    margin: 20px 0px 20px 0px;
  }

  .nav-wrapper {
    /*margin: 0;*/
    /*padding: 0;*/
  }

  .nav-link {
    margin-bottom: 0px; 
    padding: 20px 0px 20px 0px;
  }

  .nav-link a {
    font-size: 0.75rem;
  }


  /* FOOTER - Desktop */
 
  footer {
    padding: 0px 0px 100px 0px;
  }

  .scroll-top-button {
    bottom: 2rem;
    right: 2rem; 
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }

  footer p {
    font-size: 1rem;
  }


  /* INTRODUCTION - Desktop */

  #introduction {
    /*padding: 0px 0px 100px 0px;*/
    padding: 100px 0px 100px 0px;
  }


  #introduction .content-wrapper {
  /*align-content: center;*/
  align-content: flex-start;
  height: 36vh;
}


  .introduction-title {
    font-size: 4rem;
    font-size: 7rem;
  }

  .introduction-text {
    margin-top: 60px;
    font-size: 2.25rem;
  }

  .scroll-down-pointer {
    /*margin-left: 650px;*/
    /*border: 1px solid red;*/
    max-width: 1200px;
  }

  .scroll-down-text {
    /*padding-left: 59rem;*/
    margin: 50px 5px 0px 12px;
    font-size: 0.55rem;
  }

  .cirle-pointer-wrapper {
    /*padding-left: 58.6rem;*/
  }
 

  /* PROJECTS - Desktop */

  #projects {
    padding: 100px 0px 0px 0px;
  }

  .project-item {
    /*width: 30%;*/
    width: 48%;
  }

  .project-header {
    width: 100%;
  }

  .project-skills {
    width: 100%;
  }

  .project-links a {
    width: 60%;
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  

  /* SKILLS - Desktop */

  #skills {
    padding: 100px 0px 100px 0px; 
  }

  #skills .content-wrapper {
    max-width: 900px;
  }
  
  .tab-panel-wrapper {
    margin: 70px 0px;
  }

  .tab a {
    font-size: 0.85rem;
  }

  .panels {
    padding: 60px 11px;
  }

  .panels h3 {
    margin-bottom: 50px;
  }


  /* ABOUT - Desktop */

  #about {
    padding: 100px 0px 120px 0px;
  }

  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #about figure {
    width: 35%;
    margin: 80px 0px 80px 0px;
  }

  #about i {
    font-size: 12rem;
  }

  .about-info {
    width: 55%;
  }

  .about-title {
    margin: 0px 0px 40px 0px;
  }

  .about-info h4 {
    margin: 0px 0px 40px 0px;
  }


  /* CONNECT - Desktop */

  #contact {
    padding: 120px 0px 0px 0px;
  }

  .connect-title {
    margin: 0px 0px 80px 0px;
  }

  .connect-info {
    margin: 0px 0px 80px 0px;
  }

  .connect-icons {
    width: 20%;
  }

  .connect-icons i {
    font-size: 2.5rem;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

